[Desktop Entry]
Type=Application
Name=GutapK
Comment=Open, edit, clone and sign Android packages
Exec=gutapk-launch
Icon=gutapk
Categories=Development;Utility;
Terminal=false
